.body{
    background-color:#EBEDEF;
    font-family: "Times New Roman", Times, serif;
}
.container{
    display:flex;
}
.grid-user{
    width:400px;
    height:400px;
    display: flex;
    flex-wrap:wrap;
    background-color: #3498DB;
    margin:20px;
    border-radius:5px;
}

.grid div{
    width:40px;
    height:40px;
  
}

.grid-enemy{
    width:400px;
    height:400px;
    display:flex;
    flex-wrap:wrap;
    background-color:#F1C40F;
    margin:20px;
     border-radius:5px;
}

.grid-display{
    width:400px;
    height:400px;
    margin:20px;
    
}

.destroyer-container{
    width:80px;
    height:40px;
    background-color:#0E6251;
    margin:10px;
    display:flex;
}

/*.destroyer-container-vertical{*/
/*    width:40px;*/
/*    height:80px;*/
/*    background-color:#148F77;*/
/*    margin:10px;*/
/*    display:flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.submarine-container{
    width:120px;
    height:40px;
    background-color:#A569BD;
    margin:10px;
    display:flex;
}

/*.submarine-container-vertical{*/
/*    width:40px;*/
/*    height:120px;*/
/*    background-color:#2ECC71;*/
/*    margin:10px;*/
/*    display:flex;*/
/*    flex-wrap:wrap;*/
/*}*/

.cruiser-container{
    width:120px;
    height:40px;
    background-color:#58D68D;
    margin:10px;
    display:flex;
}

/*.cruiser-container-vertical{*/
/*    width:40px;*/
/*    height:120px;*/
/*    background-color:#2ECC71;*/
/*    margin:10px;*/
/*    display:flex;*/
/*    flex-wrap:wrap;*/
/*}*/

.battleship-container{
    width:160px;
    height:40px;
    background-color:#85929E;
    margin:10px;
    display:flex;
}
/*.battleship-container-vertical{*/
/*    width:40px;*/
/*    height:160px;*/
/*    background-color:red;*/
/*    margin:10px;*/
/*    display:flex;*/
/*    flex-wrap:wrap;*/
/*}*/

.carrier-container{
    width:200px;
    height:40px;
    background-color:#76D7C4;
    margin:10px;
    display:flex;
}
/*.carrier-container-vertical{*/
/*    width:40px;*/
/*    height:200px;*/
/*    background-color:#2ECC71;*/
/*    margin:10px;*/
/*    display:flex;*/
/*    flex-wrap:wrap;*/
/*}*/
.ship div{
    width:40px;
    height:40px;
}


.destroyer{
background-color:#0E6251;

}

.submarine{
  background-color:#A569BD;  
}

.cruiser{
   background-color:#58D68D;
}

.battleship{
   background-color:#85929E;
}

.carrier{
   background-color:#76D7C4;
}

.boom {
    background-color: red;
     border-radius: 25px;
}

.miss{
    background-color:black;
     border-radius: 25px;
}
.hidden{
    opacity: 0;
}
.noneHidden{
    opacity: 1;
}